.fullBanner{
	.ui.centered.images{
		width: 100%;
		height: auto;
	}
}

.centralHalfBanner{
	margin-top: 30px;
	margin-bottom: 30px;
	
	.ui.container{
		max-width: 1125px !important;
		
		.bannerLeft{
			display: inline-block;
			max-width: 366px;
			width: 100%;
			margin-right: 10px;
			vertical-align: top;
		}
		
		.bannerRight{
			display: inline-block;
			width: 100%;
			max-width: 746px;
			margin: 0px 0px 10px 0px;
			vertical-align: top;
			
			.twoColumns{
				margin-right: 10px;
				margin-bottom: 10px;
				width: 100%;
				max-width: 366px;
				display: inline-block;
						
			}
			
			.oneColumn{
				display: inline-block;
				width: 100%;
				max-width: 746px;
				margin: 0px 0px 0px 0px;
			}
			
			.banner_3{
				margin-right: 0px !important;
			}
		}
		
		.bannerLink{
			width: auto;
			height: auto;
			margin: 0px 0px 0px 0px;
			display: inline-block;
			
			img{
				width: 100%;
				height: auto;
				box-sizing:border-box;
			}
		}
	}
}	

.bannerGroup{
	
}

.bannerCategory{
	
}

.bannerBrand{
	
}

.sideHalfBanner{
	
}

.footerHalfBanner{
	margin-top: 30px;
	margin-bottom: 30px;
	
	.ui.container{
		max-width: 1125px !important;
	
		.bannerLeft{
			display: inline-block;
			max-width: 746px;
			width: 100%;
			margin-right: 10px;
			vertical-align: top;
			
			.twoColumns{
				margin-right: 10px;
				margin-bottom: 10px;
				width: 100%;
				max-width: 366px;
				display: inline-block;
						
			}
			
			.oneColumn{
				display: inline-block;
				width: 100%;
				max-width: 746px;
				margin: 0px 0px 10px 0px;
			}
			
			.banner_2{
				margin-right: 0px !important;
			}
		}
		
		.bannerRight{
			display: inline-block;
			width: 100%;
			max-width: 366px;
			margin: 0px 0px 0px 0px;
			vertical-align: top;

		}
		
		.bannerLink{
			width: auto;
			height: auto;
			margin: 0px 0px 0px 0px;
			display: inline-block;
			
			img{
				width: 100%;
				height: auto;
				box-sizing:border-box;
			}
			
		}
		
	}
	
}

.depoimentos{
	background: #f5f5f5;
	padding: 50px 0px 50px 0px;
	
	.title{
		width: auto;
		text-align: center;
		margin: 0px auto 30px auto;
		padding: 0px 0px 10px 0px;
		font-size: 30px;
		line-height: normal;
		font-weight: bold;
		color: $black;
		background: url(/assets/image/layout/underline.png) no-repeat 50% 100%;
	}
	
	.content{
		width: 100%;
		max-width: 1127px;
		height: auto;
		margin: 0px auto 0px auto;
	}
}

.car-marcas.slideshow{
	
	.column{
		min-height: 150px;
				
		a{
			min-height: 150px;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;	
					
			img{
				max-height: 120px;
				max-width: 200px;
				width: auto;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 1199px){
.centralHalfBanner .ui.container, .footerHalfBanner .ui.container{
	width: 100%;
}
}

@media screen and (max-width: 1150px){
.centralHalfBanner .ui.container, .footerHalfBanner .ui.container{
	width: 98%;
}

.centralHalfBanner .ui.container .bannerLeft{
	max-width: 32.4%;
}

.centralHalfBanner .ui.container .bannerRight{
	width: 66%;
}

.centralHalfBanner .ui.container .bannerRight .twoColumns{
	width: 49%;	
}

.footerHalfBanner .ui.container .bannerLeft{
	max-width: 66%;
}

.footerHalfBanner .ui.container .bannerLeft .twoColumns{
	max-width: 49%;
}

.footerHalfBanner .ui.container .bannerRight{
	max-width: 32.4%;
}
}

@media screen and (max-width: 999px){
.centralHalfBanner .ui.container .bannerRight .twoColumns, .footerHalfBanner .ui.container .bannerLeft .twoColumns{
	width: 48.5%;
}
}

@media screen and (max-width: 800px){
.centralHalfBanner .ui.container .bannerRight, .footerHalfBanner .ui.container .bannerLeft{
	max-width: 65%;
}

.centralHalfBanner .ui.container .bannerLeft, .footerHalfBanner .ui.container .bannerRight{
	max-width: 32%;
}
}

@media screen and (max-width: 675px){
.centralHalfBanner .ui.container .bannerRight .twoColumns, .footerHalfBanner .ui.container .bannerLeft .twoColumns{
	width: 48%;
}
}

@media screen and (max-width: 480px){
.depoimentos{
	display: none;
}

.centralHalfBanner .ui.container .bannerRight .twoColumns, .footerHalfBanner .ui.container .bannerLeft .twoColumns{
	width: 47%;
}
}

@media screen and (max-width: 479px){
.centralHalfBanner .ui.container .bannerLeft, .footerHalfBanner .ui.container .bannerRight{
	max-width: 100%;
	width: 100%;
}

.centralHalfBanner .ui.container .bannerRight, .footerHalfBanner .ui.container .bannerLeft{
	width: 100%;
	max-width: 100%;
}

.centralHalfBanner .ui.container .bannerRight .twoColumns, .footerHalfBanner .ui.container .bannerLeft .twoColumns{
	width: 100%;
	max-width: 100%;
}

}