/* HEADER BUTTONS */
.contactUs, .myAccount, .b2b{
	display: inline-block;
	margin: 0px 10px 0px 10px;
	color: #000000;
	
	a{
		font-size: 14px;
		line-height: 32px;
		padding: 0px 0px 0px 30px;
		color: #000000;
		text-align: left;
		display: block;
		
		span{
			font-size: 16px;
			line-height: 32px;
			color: #000000;
			display: block;
			text-align: left;
			
			small{
				font-size: 14px;
				line-height: 16px;
				color: #000000;
				display: block;
				text-transform: lowercase;
				text-align: left;
			}
		}
	}
	
	a:hover{
		color: #000000;
	}
	
}

.contactUs a{
	background-image: url(/assets/image/layout/ic-atendimento.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.contactUs a:hover{

}

.myAccount a{
	background-image: url(/assets/image/layout/ic-entrar.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.myAccount a:hover{

}

.b2b a{
	background-image: url(/assets/image/layout/ic-atacado.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.b2b a:hover{

}

.ui.button.primary{
	background-color: $main-color !important;
	box-shadow: 0 0 0 1px $main-color inset !important;
}

.ui.button.primary:hover{
	background-color: $main-color !important;
	box-shadow: 0 0 0 1px $main-color inset !important;
}

.ui.button.primary.labeled:not(.toggle) i{
	background-color: $main-color !important;
}

.cartbutton{
	position: relative;
	border: none !important;
	margin: 0px 0px 0px 10px !important;
	display: inline-block;
	background-color: none !important;

	.ui.button.basic.primary{
		padding: 0px;
		margin: 0px;
		box-shadow: none !important;
		border: none !important;
		color: $menu-items-over !important;
		background-image: url(/assets/image/layout/ic-carrinho.png) !important;
		background-repeat: no-repeat !important;
		background-color: transparent !important;
		min-width: 35px;
		min-height: 32px;
		
		span{
			display: none;
		}
		
		.cart.icon{
			display: none;
		}
	}
	
	.ui.button.basic.primary:hover{
		color: $white;
		background-color: transparent !important;
	}
	
	.ui.label.primary{
		position: absolute;
		bottom: -5px;
		left: -5px;
		color: $white !important;
		background: $black !important;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		border-radius: 50% !important;
		padding: 2px 5px 3px 5px !important;
		margin: 0px !important;
	}
	
	.ui.label.primary::before{
		display: none !important;
	}
	
}

.cartbutton:hover{
	background-color: none !important;
}

.myWishlist{
	display: inline-block;
	margin: 0px 20px 0px 0px;
		
	a{
		i.icon{
			color: $secondary-color;
		}
	}
	
	a#wishListCount{
		color: $menu-items !important;
		background: $main-color !important;
		border: none !important;
		font-size: 1em !important;
	}
}

/* OTHERS */

.ui.green.button{
	background-color: $black;
}

.ui.green.button:hover{
	background-color: $black;
}

.ui.green.buttons .button:focus, .ui.green.button:focus{
	background-color: $black;
}

.calcular{
	background: #969696 !important;
	
	.icon{
		color: $white !important;
		background: #666666 !important;
	}
}

.calcular:hover{
	background: #666666 !important;
	
	.icon{
		background: #969696 !important;
	}
}

.btn_finalizar, #btn_finalizar{
	background: $main-color !important;
	box-shadow: 0 0 0 1px $main-color inset !important;
	opacity: 0.8 !important;
}

.btn_finalizar:hover, #btn_finalizar:hover{
	background: $main-color !important;
	box-shadow: 0 0 0 1px $main-color inset !important;
	opacity: 1 !important;
}

.ui.button.action, .btnComprar .btn-comprar{
	font-size: 18px;
	background: #25a95d !important;
	box-shadow: 0 0 0 1px #25a95d inset !important;
	
	@media screen and (max-width: $mobile-bp) {
		font-size: 16px;
	}
}

.ui.button.action:hover, .btnComprar .btn-comprar:hover{
	background: #25a95d !important;
	box-shadow: 0 0 0 1px #25a95d inset !important;
}

.btnComprar .wishlistDetails{
	margin: 15px 0px 0px 0px;
}

.ui.button.action.labeled:not(.toggle) i{
	background-color: #25a95d !important;
}

.ui.button.action.animated{
	width: 100% !important;
	margin: 5px auto 0px auto !important;
}

.slick-dots li.slick-active button::before{
	color: $main-color; 
}

.slick-dots li button::before{
	font-size: 50px;
	color: $main-color;
}

/* CARD PRODUTO */
.card.produto {
	
	.content{
		
		.info{
		
			.sku-options{
				background: none;
				opacity: 0;
				padding: 10px;
				bottom: 0px;
				width: 100%;
				max-height: 230px;
				z-index: 10 !important;
			
				.btn-comprar{
					margin-left: -117.5px;
					position: absolute;
					bottom: 10px;
					left: 50%;
					z-index: 9;
					font-size: 0px;
					
					width: 235px;
					height: 35px;
					background: url(/assets/image/layout/botao-comprar.png) no-repeat;
					padding: 0px;
					
					.icon {
						display: none;
					}
					
				}
				
				.btn-comprar-card{
					bottom: -50px;
					
					.icon.add.to.cart{
						
					}
					
				}
				
			}
			
		}
		
	}
	
	&:hover,
    &:focus {
		
		.info {
            /*transform: translateY(-40px);*/

            .botoes {
                opacity: 1;
            }

            .sku-options {
				opacity: 1;
            }
			
        }
		
	}
	
}

/* SOCIAL MEDIA FOOTER */
.footer .icon.button{
	background: none !important;
	padding: 0px !important;
	color: $white;
}

@media screen and (max-width: 959px){
.contactUs, .myAccount, .myOrders{
	margin: 0px 3px 0px 3px;
}
}

@media screen and (max-width: 599px){
.contactUs, .myAccount, .myOrders{
	display: block;
	float: right;
}

._header .cartbutton{
	clear:both;
}
}

@media screen and (max-width: 320px){
.contactUs a, .myAccount a, .myOrders a{
	font-size: 12px;
}
}
