h1{
	color: $black;
}

.ui.breadcrumb a.section{
	color: #9d9d9d;
}

.ui.breadcrumb a.section:hover{
	text-decoration: underline;
}

.ui.breadcrumb a.active.section{
	color: $black;
}

.filtros .ui.accordion .title{
	box-shadow: none !important;
	background-color: #CCCCCC !important;
	color: $white !important;
}

.filtros .ui.accordion .title.active{
	background-color: #CCCCCC !important;
	color: $white !important;
}

.ui.list > a.item{
	color: $black;
}

.ui.list > a.item:hover{
	color: $black;
	text-decoration: underline;
}

.ui.teal.button{
	background-color: #97989a;
	color: $white;
}

.ui.teal.buttons .button:hover, .ui.teal.button:hover{
	background-color: $black;
}

#initialPrice, #finalPrice{
	
}

#initialPrice:focus, #finalPrice:focus{
	border-color: $black !important;
}