.infoBar{
	background: transparent;
	margin: 15px 0px 15px 0px;
	border-bottom: none;
}

.infoBar .icon_place{
	text-align: center;
}

.infoBar .icon_place img{
	max-width: 100%;
	width: auto;
	height: auto;
}

.infoBar .text_place{
	
}

.infoBar .text_place h5{
	margin: 0px !important;
	text-transform: uppercase;
	color: $black;
	font-weight: bold;
}

.infoBar .text_place p{
	margin: 0px !important;
	color: $black;
	font-size: 11px;
}