/* backgrounds */
$main-color: #e40d50;
$background-color: #FFFFFF;
$footer-background-color: #000000;
$background-developed: #000000;
$menu-background: #FFFFFF;

/* text colors */
$black: #000000;
$white: #FFFFFF;
$menu-items: #000000;
$menu-items-over: #e40d50;
$footerLinks: #FFFFFF;
$footerLinksOver: #FFFFFF;
$footerTitles: #FFFFFF;

/* menu */
$menuHeight: 50px;

/* spacements */
$paddingItemMenu: 0px 20px 0px 35px;
$link-padding: 5px 0px 5px 0px;
$link-margin: 0px 0px 0px 0px;
$footer-blocks-spacement: 30px 0px 30px 0px;

/* BODY */
body.pushable{
	background: $white !important;
}

body.pushable > .pusher{
	background: none !important;
}

/* HEADER */
.headernav{
	background-color: #FFFFFF;
	background-image: url(/assets/image/layout/topo.jpg);
	background-repeat: repeat-x;
	background-position: 50% 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 10px 0px;
}

._header{
	background: transparent;	
}

._header.fixed{
	background-color: #FFFFFF;
	background-image: url(/assets/image/layout/topo.jpg);
	background-repeat: repeat-x;
	background-position: 50% 100%;
	height: 173px;
}

._header .ui.grid{
	margin: 0px -1rem 0px -1rem !important;
}

/* SEARCH */
.search{
	max-width: 500px;
	margin: 0px auto !important;
	border-bottom: 1px solid #000000;
}

.search .ui.input input{
	background: #FFFFFF !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border: none;
	padding-right: 80px !important;
}

.search .ui.input input::placeholder{
	
}

.search .ui.input.focus input, .search .ui.input input:focus{
	border: none;
	box-shadow: none;
}

.search i.search{
	color: $black;
	border: none;
	right: 40px !important;
}

.search span{
	position: absolute;
	right: 0px;
	bottom: 9px;
	font-weight: bold;
}

._header .searchMobile{
	border: none;
	padding: 0px;
}

._header .searchMobile > .button{
	color: $black;
}

._header .searchMobile > .button .icon{
	border: none;
}

/* SLIDES/BANNERS */
.slick-slider:not(.slick-dotted){
	margin: 0px !important;
}

.ui.basic.black.button.slick-prev{
	background-image: url(/assets/image/layout/btPrev.png) !important;
	background-repeat: no-repeat;
	padding: 0px !important;
	box-shadow: none !important;
	width: 22px;
	height: 35px;
	opacity: 1;
	left: -30px;
	bottom: 50%;
	margin-bottom: -15px;
	
	.icon{
		display: none;
	}
	
}

.ui.basic.black.button.slick-prev:hover{
	background-image: url(/assets/image/layout/btPrev_hover.png) !important;
	box-shadow: none !important;
}

.ui.basic.black.button.slick-next{
	background-image: url(/assets/image/layout/btNext.png) !important;
	background-repeat: no-repeat !important;	
	padding: 0px !important;
	box-shadow: none !important;
	width: 22px;
	height: 35px;
	opacity: 1;
	right: -30px;
	bottom: 50%;
	margin-bottom: -15px;
	
	.icon{
		display: none;
	}
}

.ui.basic.black.button.slick-next:hover{
	background-image: url(/assets/image/layout/btNext_hover.png) !important;	
	box-shadow: none !important;
}

/* TITLES */
.topsellers .ui.horizontal.divider::before, .topsellers .ui.horizontal.divider::after {
	background-image: none !important;
	opacity: 0;
}

.topsellers .topsellersTitle{
	margin-bottom: 30px;
	text-align: center !important; 
	font-size: 30px;
	text-transform: uppercase;	
	font-weight: bold !important;
	color: $black;
	padding: 0px 0px 20px 0px;
	background: url(/assets/image/layout/vitrine.png) no-repeat 50% 100%;
	
	a{
		text-align: center !important;
		font-size: 30px;
		color: $black;
		font-weight: bold !important;
		
		h3{
			font-size: 30px;
			line-height: normal;
		}
	}
}

.topsellers .topsellersTitle strong{
	font-weight: bold;	
}

.topsellers .topsellersTitle:after, .topsellers .topsellersTitle:before{
	background: none;
}


/* FOOTER */

.footer{
	padding: $footer-blocks-spacement;
}

.footer.newsletters{
	margin-top: 30px;
	background: $white url(/assets/image/layout/topo.jpg) repeat-x 50% 100%;
	overflow: hidden;
	padding: 30px 0px 30px 0px !important;
	
	.ui.container{
		overflow: hidden;
		padding: 0px 0px 0px 0px;

		.description{
			display: block;
			width: 100%;
			max-width: 835px;
			text-align: center;
			margin: 0px auto 0px auto;
			
			p{
				font-size: 30px;
				line-height: normal;
				color: $black;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				margin: 0px auto;
			}
		}
		
		.news-form{
			display: block;
			width: 100%;
			max-width: 835px;
			margin: 0px auto 0px auto;
			text-align: center;
			padding: 0px 0px 0px 0px;
			
			.form-container{
				width: 100%;
				max-width: 760px;
				position: relative;
				height:auto;
				margin: 10px auto 0px auto !important;
				
				.icon{
					display: none;	
				}
				
				#email_news{
					width: 100%;
					background: $white;
					border: 1px solid #FFFFFF !important;
					padding: 12px 140px 12px 10px;
				}
				
				#email_news::placebolder{
					
				}
				
				#btn_news{
					background: #FFFFFF url(/assets/image/layout/border.png) no-repeat 0px 50%;
					color: #000000;
					width: auto;
					height: auto;
					padding: 13px 20px 13px 20px;
					font-size: 16px;
					margin-right: 0px;
					text-align: center;
					position: absolute;
					top: 0px;
					right: 0px;
					border: none;
					border-radius: 0px;
					text-transform: lowercase;
				}
				
				#btn_news:hover{

				}
				
			}
			
		}
		
	}
	
}

.footer.dadosFooter{
	background: $footer-background-color;	
	
	.ui.container{
		max-width: 1130px !important;

		.ui.grid > .row{
			padding: 0px 0px 0px 0px;
		}
		
	}
}

.footer.bgBlock{
	.ui.container{
		background: #282828;
		color: $white;
		padding: 20px 0px 20px 0px;
		
		.sociallinks, .lojafisica, .horario{
			padding: 0 49px;
		}
		
		.sociallinks{
			vertical-align: top;
			display: inline-block;
			width: auto;
			min-width: 200px;
			min-height: 70px;
			border-right: 2px solid #000;
			
			.titulo{
				vertical-align: top;
				padding: 25px 20px 25px 0px;
				display: inline-block;
				width: auto;
				font-weight: bold;
			}
			
			.content{
				display: inline-block;
				clear: none;
				width: auto;
			}
		}
		
		.lojafisica{
			vertical-align: top;
			display: inline-block;
			width: auto;
			min-width: 200px;
			min-height: 70px;
			padding-top: 10px;
			border-right: 2px solid #000;
			
			.titulo{
				display: block;
				margin-bottom: 5px;
			}
			
			.content{
				display: block;
			}
		}
		
		.horario{
			vertical-align: top;
			display: inline-block;
			width: auto;
			min-width: 200px;
			min-height: 70px;
			padding-top: 10px;
			
			.titulo{
				display: block;
				margin-bottom: 5px;
			}
			
			.content{
				display: block;
			}
		}
		
		.titulo{
			font-size: 18px !important;
			text-transform: uppercase !important;
			color: $footerTitles !important;
			font-weight: bold !important;
		}
	}
}

.footerTitle{
	font-size: 20px !important;
	text-transform: uppercase !important;
	color: $footerTitles !important;
	margin: 0px 0px 10px 0px !important;
	padding: 0px 0px 0px 0px !important;
	font-weight: normal;
	width: auto;
	float: left;
}

.footerLinks, .dadosFooter .content{
	clear: both;
	width: 100%;
}

.footerLinks a{
	font-size: 14px;
	color: $footerLinks !important;
	margin: $link-margin !important;
	padding: $link-padding !important;
	text-decoration: none;
	display: inline-block;
}

.footerLinks a:hover{
	color: $footerLinksOver !important;
	text-decoration: underline;
}

.sociallinks {
	.content{
		
		socialbar{
			margin-top: 16px !important;
			
			a{
				color: $black !important;
				background: $white !important;
				padding: 7px 6px 7px 6px!important;
				display: inline-block;
				vertical-align: middle;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				margin-right: 5px !important;
				text-decoration: none !important; 
				
				i{
					margin-right: 0px;
				}
			}
			
			a:hover{
				color: $black !important;
				background: $white !important;
				text-decoration: none !important; 
			}
		}
	}
}

.dadosFooter .content a, .dadosFooter .content p, .dadosFooter .column address{
	font-size: 13px;
	color: $footerLinks !important;
	text-decoration: none;
	margin: $link-margin;
	font-weight: normal !important;
	padding: $link-padding;
}

.dadosFooter .content a:hover{
	text-decoration: underline;
}

.dadosFooter .content .fone, .dadosFooter .content .email{
	padding-left: 30px;	
}

.dadosFooter .column .fone.icon{
	background-image: url(/assets/image/layout/phone.png);
	background-position:left center;
	background-repeat: no-repeat;
}


.dadosFooter .column .email.icon{
	background-image: url(/assets/image/layout/email.png);
	background-position:left center;
	background-repeat: no-repeat;
	display: block;
}


.developed{
	background: $background-developed;
	padding: 10px 0px 10px 0px;
	overflow: hidden;
	
	.ui.container{
		max-width: 1130px !important;
	}
}

.developed .company{
	max-width: 40%;
	width: 100%;
	text-align: left; 
	float: left;
	line-height: auto;
	margin-right: 20px;
	color: $white;
	
	.logorodape{
		display: inline-block;
		margin-right: 20px;
	}
	
	.dados{
		display: inline-block;
		vertical-align: top;
		padding-top: 15px;
	}
}

.developed .logosDeveloped{
	width: auto;
	float: left;
}

.developed .logosDeveloped .logoJet{
	display: inline-block;
	margin-right: 20px;
}

.developed .logosDeveloped .logoPeras{
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 1199px){
.topbar .ui.container, ._header .ui.container, .menuheader .ui.container{
	width: 96% !important;
}

.footer.bgBlock{
	.ui.container{
		.sociallinks, .lojafisica, .horario{
			padding-right: 22px;
			padding-left: 22px;
		}
	}
}

}

@media screen and (max-width: 1000px){
.topbar > .ui.container, ._header > .ui.container, .menuheader > .ui.container, .footer > .ui.container, .developed > .ui.container{
	width: 95%;
}

.footer.bgBlock{
	.ui.container{
		.sociallinks, .lojafisica, .horario{
			padding-right: 20px;
			padding-left: 20px;
		}
	}
}
}

@media screen and (max-width: 960px){
.dadosFooter .four.column .two.column{
	margin-bottom: 60px;
}
}

@media screen and (max-width: 800px){
.developed .company{
	width: 100%;
	max-width: 100%;
	float: none;
	text-align: center;
	margin-bottom: 20px;
}

.developed .logosDeveloped{
	width: 100%;
	max-width: 100%;
	float: none;
	text-align: center;
}

.footer.newsletters .ui.container .description p{
	font-size: 20px;
}

.footer.bgBlock{
	.ui.container{
		width: auto !important;
	
		.sociallinks, .lojafisica, .horario{
			padding-right: 0px;
			padding-left: 0px;
			width: 100% !important;
			text-align: center;
			border: none;
		}
	}
}
}

@media screen and (max-width: 767px){
.developed{
	text-align: center;
	padding: 2%;
}
}

@media screen and (max-width: 600px){
._header.fixed.ui.container.fluid{
	width: 100% !important;
}

.dadosFooter.ui.container.fluid{
	padding: 30px 0px 30px 0px !important;
}

.dadosFooter .ui.container .ui.stackable.grid .pagamentos:last-child{
	padding-bottom: 20px !important;
}

.dadosFooter .four.column .two.column{
	margin-bottom: 10px;
}

.developed{
	margin-top: 0px;
	padding: 15px 0px 15px 0px;
}

.footer.newsletters{
	margin: 30px 0px 30px 0px;
}

.footer.newsletters .ui.container .description, .footer.newsletters .ui.container .news-form{
	width: 100%;
	margin: 15px auto 15px auto;
}

}

@media screen and (max-width: 479px){
.footer.bgBlock.fluid{
	.ui.container{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
}

@media screen and (max-width: 360px){
.developed .logosDeveloped .logoJet, .developed .logosDeveloped .logoPeras{
	margin-bottom: 20px;
}
}