/* MENU */
.menuheader{
	min-height: $menuHeight;
	background: transparent;
	
	&.fixed{
		top: 123px !important;
	}
}

.menuheader > .ui.container{

}

.menuheader .ui.menu .item{
	line-height: $menuHeight;
	color: $menu-items;
	background: none;
	text-transform: uppercase;
	font-size: 16px;
	padding: $paddingItemMenu;
}

.menuheader .ui.menu .item:hover{
	color: $menu-items-over;
	background: none;
}

.menuheader .ui.menu .item::before {
	display: none;
}

.menuheader .ui.menu li > .item > .icon.dropdown{
	margin: 0em 0em 0em 0.2em !important;
	/*display: none;*/
}

.wsmenu{
	.ui.menu{
		background: none;
		
		li{
			
			.item{
				padding: 0px 30px 0px 0px;
			}
					
		}
		
	}
}

.megamenu{
	background: #FFF;
	
	.submenu-items{
		display: flex;
	}
	
	.submenu{
		float: left;
		clear: both;
		padding: 0.5rem .8rem;
		
		a.level1{
			color: $menu-items !important;
			padding: 3px 1em 3px 1em;
			font-size: 12px;
			line-height: normal;
		}
		
		a.level1:hover{
			color: $menu-items-over !important;
		}
		
		a.item{
			color: $menu-items !important;
			padding: 3px 1em 3px 1em !important;
			margin-left: 10px !important;
			font-size: 12px !important;
			line-height: normal !important;
			text-transform: none !important;
		}
		
		a.item:hover{
			color: $menu-items-over !important;
		}
	}
}


.wsmain{

	.wsmenu{
		
		.titleMenu{
			background: $black;
		}
		
		.mobile-sub{
			
			
			li{
				a{
					padding: 0px 1em 0px 1em;
				}
			}
		}
		
	}
	
}

@media screen and (max-width: 919px){
.wsmain{
	background-color: $menu-background !important;
}

.wsmenu .ui.menu li .item{
	padding: 0px 30px 0px 30px;
}

.wsmain .wsmenu .mobile-sub{
	padding: 1em 0px 1em 0px;
}

.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after{
	background: $menu-items;
}
}