.ui.blue.segment:not(.inverted) {
	border: none !important;
}

.ui.green.segment:not(.inverted) {
	border: none !important;
}

.infoProduto{
	.infoPreco{
		
	}
	
	.preco{
		color: $black;
	}
}

.card.produto {
	.content {
		
		.info {
			
			.dados {
				
				a{
					color: #787878;
					margin-bottom: 15px;
					
					h3{
						color: #787878;
						font-size: 18px;
						text-transform: uppercase;
					}
					
				}
				
				a:hover{
					text-decoration: none;
				}
				
				.preco{
					font-size: 25px;
					line-height: auto;
					color: #000000;
				}
				
				.precoBase {
					color: #797979;
					font-size: 16px;
                }
				
				.parcelamento {
					color: #797979;
					font-size: 16px;
                }
				
			}
			
		}
		
	}
	
	.ui.fluid.images, .ui.fluid.image{
		max-height: 220px;
		width: auto;
		text-align: center;
		margin: 0px auto;
		
		svg, img{
			width: auto;
			height: auto;
			max-height: 220px;
			
		}
	}
	
	.btnDetalhes{
		display: none;
	}
	
	
}

.ui.tabular.menu .item{
	background: none !important;
	color: $black !important;
}

.ui.tabular.menu .item.active{
	background: none !important;
	color: #9d9d9d !important;
	border-color: #9d9d9d !important;
}

#avaliacoes a{
	color: #97989a;
}

#avaliacoes a:hover{
	text-decoration: underline;
}

@media screen and (max-width: 767px){
.card.produto .ui.fluid.image svg, .card.produto .ui.fluid.image img{
	width: auto;
}
}