.topbar{
	background: #f0f0f0;
	height: 30px;
	padding-top: 2px;
	
	.ui.container{
		
		.ui.grid{
			
			.item{
				
				a{
					color: #000000;
					line-height: 16px;
					font-size: 13px;
					text-transform: none !important;
					
					i{
						font-size: 16px;
						padding-right: 8px;
						line-height: 16px;
					}
				}
			}
			
			socialbar{
				
				a{			
					
					i.facebook.icon, i.bloger.icon, i.google.icon, i.instagram.icon, i.pinterest.icon, i.whatsapp.icon, i.youtube.icon, i.twitter.icon{
						color: #000000 !important;
					}
					
				}
				
			}		
			
				
		}
		
	}
	
}

@media screen and (max-width: 479px){
.topbar{
	height: 60px; 
	
	.ui.horizontal.list{
		text-align: center;
		width: 100%;
		
		.item{
			margin: 0px auto 3px auto !important;
			padding: 3px 0px 3px 0px !important;
			display: inline-block !important;
			width: 50%;
		}
	}
	
}
}