@import "colors";

.wsmenu {
    float: left;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;

    * {
        box-sizing: border-box;
        text-decoration: none;
    }
}

.wsmain {
    margin: 0 auto;
    padding: 0;
    width: 100%;

    html,
    body,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    .cl {
        clear: both;
    }

    img {
        border: 0 none;
        max-width: 100%;
    }

    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    a:focus {
        outline: none !important;
    }
}

.wsmobileheader {
    display: none;
}

.overlapblackbg {
    display: none;
}

.topmenusearch {
    float: right;
    height: 42px;
    margin: 9px 0 0;
    position: relative;
    width: 100%;

    .searchicon {
        transition: all .7s ease 0s;
    }

    input {
        background-color: $colorgalleryapprox;
        border: 0;
        bottom: 0;
        color: $colorconcordapprox;
        float: right;
        height: 42px;
        margin: 0;
        outline: none;
        padding: 0;
        position: relative;
        right: 0;
        text-indent: 15px;
        top: 0;
        transition: all .7s ease 0s;
        width: 100%;
        z-index: 2;

        &:focus {
            color: $black;

            ~ {
                .btnstyle {
                    background-color: $colorcapecodapprox;
                    color: $white;
                    opacity: .9;

                    .fa {
                        color: $white;
                    }
                }

                .searchicon {
                    color: $white;
                    opacity: 1;
                    z-index: 3;
                }
            }
        }
    }

    .btnstyle {
        background-color: $colorgalleryapprox;
        border: solid 0;
        bottom: 0;
        color: $white;
        cursor: pointer;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .7s ease 0s;
        width: 42px;
        z-index: 1000;

        .fa {
            color: $colorstardustapprox;
            line-height: 38px;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        &:hover {
            background-color: $white;
        }
    }
}

.wsmenu-list {
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 100%;

    > li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;

        &.wssearchbar {
            float: left;
            padding-left: 15px;
            width: 41%;
            display: none;
        }
    }

    > {
        .wscarticon > a .fa.fa-shopping-basket {
            color: $colorconcordapprox;
            display: inline-block;
            font-size: 16px;
            line-height: inherit;
            margin-right: 5px;
        }

        .wsshopmenu > a .fa {
            &.fa-angle-down {
                color: $colorconcordapprox;
                display: inline-block;
                font-size: 13px;
                line-height: inherit;
                margin-left: 11px;
            }

            &.fa-shopping-basket {
                color: $colorconcordapprox;
                display: inline-block;
                font-size: 13px;
                line-height: inherit;
                margin-right: 8px;
            }
        }

        .wsshopmyaccount > a .fa {
            &.fa-angle-down {
                color: $colorconcordapprox;
                display: inline-block;
                font-size: 13px;
                line-height: inherit;
                margin-left: 8px;
            }

            &.fa-align-justify {
                color: $colorconcordapprox;
                display: inline-block;
                font-size: 16px;
                line-height: inherit;
                margin-right: 11px;
            }
        }
    }

    li {
        &:hover {
            > {
                .wsmenu-submenu {
                    opacity: 1;
                    transform: translateY(0);
                    visibility: visible;
                }

                .megamenu {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .wsmenu-submenu {
                display: block;
            }

            .megamenu {
                opacity: 1;
            }
        }

        > {
            .wsmenu-submenu {
                transform: translateY(35px);
                transition: all .3s ease;
                visibility: hidden;
            }

            .megamenu {
                transition: all .3s ease;
                visibility: hidden;
            }
        }
        
        &:first-child{
            > {
                .megamenu{
                    .submenu-items{
                		display: block;
                	}
                }
            }
        }
    }

    .wsmenu-submenu {
        .wsmenu-submenu-sub {
            left: 100%;
            margin: 0;
            min-width: 220px;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: 0;

            .wsmenu-submenu-sub-sub {
                left: 100%;
                margin: 0;
                min-width: 220px;
                opacity: 0;
                padding: 0;
                position: absolute;
                top: 0;
            }

            li:hover .wsmenu-submenu-sub-sub {
                
                list-style: none;
                opacity: 1;
                padding: 0;
            }
        }

        li:hover .wsmenu-submenu-sub {
            
            display: block;
            list-style: none;
            opacity: 1;
            padding: 0;
        }
    }
}

.megamenu {
    
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 14px;
    position: absolute;
    text-align: left;
    //top: 60px;
    width: 100%;
    z-index: 1200;
    
}

.mobiletext {
    display: none;
}

.wsmenu-submenu {
  
    margin: 0;
    min-width: 176px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 58px;
    z-index: 1000;

    li {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;

        a {
           
            display: block;
            font-size: 12px;
            letter-spacing: normal;
            line-height: 22px;
            padding: 8px 12px;
            text-align: left;
            text-transform: none;
        }

        > .wsmenu-submenu-sub {
            transform: translateY(35px);
            transition: all .3s ease;
            visibility: hidden;
        }

        &:hover > .wsmenu-submenu-sub {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }

    .fa {
        font-size: 15px;
        margin-right: 11px;
    }
}

.wsmenuexpandermain {
    display: none;
}

.wsmenu-click, .wsmenu-click02 {
    display: none;
}

@import "mq";
