$menuBG: $primary-color;
$menuTextColor: $white;
$menuHeight: 50px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";

.menuheader {
    width: 100%;
    min-height: 50px;
    background: transparent;
    /*Sub Classes*/
    .ui.menu {
        background: transparent;
        background-color: transparent;
        border: 0px;
        box-shadow: none;
        display: flex;
        font-weight: 400;
        min-height: 2.85714286em;
        flex-wrap: wrap;
        margin:0;
        li {
            > .item {
                word-wrap: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                margin:0;
                font-size: 14px;        
                
                > .icon.dropdown {
                    line-height: 18px;
                    margin: 0 0 0 .2em!important;
                }
                > .icon.content {
                    font-size: 26px;
                    line-height: 1;
                    margin-right: 15px;
                }
                .menu {
                    border-radius: 0px !important;
                    margin-top: 0px !important;
                    z-index: 10;
                    .item {
                        line-height: 18px;
                        &:hover,
                        &.active,
                        &:focus {
                            box-shadow: none !important;
                        }
                    }
                    .menu {
                        box-shadow: none;
                    }
                    
                }
            }
        }
        .header {
            a {
                font-size:14px;
                font-weight: 300;
            }
        }
    }
    
    .ui.menu .item{
        line-height: 50px;
        color: #000;
        background: none;
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 20px 0 35px;
        
        &:hover {
            color: #e40d50;
            background: none;
        }
            
        &:before {
            display: none;
        }    
    }
    
    .ui.menu > .item:first-child,
    .ui.menu > .item:last-child {
        border-radius: 0px;
    }
    
    .ui.list {
        
        h4 {
            font-weight: normal;
        }
        .item {
            &:hover,
            &.active,
            &:focus {
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
}

.ui.list>a.item {
    color: #000;
}
.ui.list>a.item:hover {
    color: #000;
    text-decoration: underline;
}
.ui.teal.button {
    background-color: #97989a;
    color: #fff;
}
.ui.teal.button:hover, .ui.teal.buttons .button:hover {
    background-color: #000;
}
#finalPrice:focus, #initialPrice:focus {
    border-color: #000!important;
}
.ui.blue.segment:not(.inverted), .ui.green.segment:not(.inverted) {
    border: none!important;
}
/* Mega Menu Start */
@import "wsmenu/style";
/* MegaMenu End */