@model DomainProduct.Result

@{
  Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
  ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? "Resultado da Busca" : LojaCorp.Control.Company._Company.Title;
  var returnUrl = HttpContext.Current.Request.Url.AbsolutePath;
}

@section breadcrumbs {
  <div class="ui two column centered grid stackable middle aligned margin top bottom no breadcrumbs">
    <div class="row">
      <div class="container">
        <div class="column">
          <h1>Resultado da Busca</h1>
          <div class="ui breadcrumb text small">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="ui breadcrumb">
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                  <span itemprop="name">Home</span>
                  <meta itemprop="url" content="/">
                </a>
                <meta itemprop="position" content="1" />
                <i class="right angle icon divider"></i>
              </li>
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">Busca</span>
                <meta itemprop="url" content="/Busca">
                <meta itemprop="position" content="2" />
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
}

@section banner {

}

@section filters {
  <div class="four wide column filterColumn">
    <div class="row one column filterBlock" id="filterBlock">

      <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
      @if (LojaCorp.Control.Company._Company.ViewProductFiltersUrl)
      {
        @Html.Action("FilterMenuNew", "Product", new { category = "", brand = "", group = "", keyword = Request.QueryString["n"] })
      }
      else
      {
        @Html.Action("FilterMenu", "Product")
      }
    </div>
  </div>
}
<div class="twelve wide column">
  <div class="ui grid">
    <div class="row one column">
      <div class="column right aligned right floated">
        <button class="ui mobile only left floated icon button basic filterbutton right labeled small" data-tooltip="Filtros" data-inverted="">
          <i class="filter icon"></i>
          Filtros
        </button>
        <div class="ui dropdown button basic dropdownitens small">
          <span class="text">@(Request.QueryString["pageSize"] != null ? Request.QueryString["pageSize"] : "Itens")</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="12">
              12
            </div>
            <div class="item" data-value="18">
              18
            </div>
            <div class="item" data-value="24">
              24
            </div>
            <div class="item" data-value="30">
              30
            </div>
          </div>
        </div>
        <div class="ui dropdown button basic dropdownorder small">
          <span class="text">Ordenar por</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="lancamentos">
              <i class="asterisk icon"></i>
              Lançamentos
            </div>
            <div class="item" data-value="maior_preco">
              <i class="sort numeric descending icon"></i>
              Maior Preço
            </div>
            <div class="item" data-value="mais_vendidos">
              <i class="diamond icon"></i>
              Mais Vendidos
            </div>
            <div class="item" data-value="menor_preco">
              <i class="sort numeric ascending icon"></i>
              Menor Preço
            </div>
            <div class="item" data-value="nome_a_z">
              <i class="sort alphabet ascending icon"></i>
              Nome [A-Z]
            </div>
            <div class="item" data-value="nome_z_a">
              <i class="sort alphabet descending icon"></i>
              Nome [Z-A]
            </div>
          </div>
        </div>
        <button id="viewgrid" class="ui icon button basic small viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
          <i class="grid layout icon"></i>
        </button>
        <button id="viewlist" class="ui icon button basic small viewlist mobile hide" data-tooltip="Lista" data-inverted="">
          <i class="list layout icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="list">
    <div class="searchProducts">
        @Html.Action("GetProducts", "Product", new {
         keyWord = Request.QueryString["n"] != null ? Request.QueryString["n"] : "",
         category = Request.QueryString["category"] != null ? Request.QueryString["category"] : "",
         viewList = Request.QueryString["viewList"] != null ? Request.QueryString["viewList"] : "",
         pageNumber = Request.QueryString["pageNumber"] != null ? Request.QueryString["pageNumber"] : "",
         pageSize = 12,
         order = Request.QueryString["order"] != null ? Request.QueryString["order"] : "",
         brand = Request.QueryString["brand"] != null ? Request.QueryString["brand"] : "",
         group = Request.QueryString["group"] != null ? Request.QueryString["group"] : "",
         initialPrice = Request.QueryString["initialPrice"] != null ? Request.QueryString["initialPrice"] : "",
         finalPrice = Request.QueryString["finalPrice"] != null ? Request.QueryString["finalPrice"] : "",
         variations = Request.QueryString["variations"] != null ? Request.QueryString["variations"] : "",
         idAttribute = Request.QueryString["idAttribute"] != null ? Request.QueryString["idAttribute"] : "",
         idCategories = Request.QueryString["idCategories"] != null ? Request.QueryString["idCategories"] : ""
        })
    </div>
  </div>
</div>
<input type="hidden" name="CurrentPage" id="CurrentPage" value="search" />
<input type="hidden" name="ViewProductFiltersUrl" id="ViewProductFiltersUrl" value="@LojaCorp.Control.Company._Company.ViewProductFiltersUrl.ToString()" />

@section custom_js {
  <script>
        window.filterManipulation = { keyWord: "@(Request.QueryString["n"] != null ? Server.UrlEncode(Request.QueryString["n"]) : "")" };
  </script>
}