﻿@model IList<DomainProduct.Entities.Brand>




<script>
    jQuery(document).ready(function ($) {
        $('.car-marcas').slick({
            prevArrow: '<a class="slick-prev ui mini button basic black icon"><i class="chevron left icon"></i></a>',
            nextArrow: '<a class="slick-next ui mini button basic black icon"><i class="chevron right icon"></i></a>',
            dots: false,
            slidesToShow: 6,
            accessibility: false,
            responsive: [
                {
                    breakpoint: 933,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 723,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>
@if (Model != null && Model.Count() > 0)
{
    <div class="ui container topsellers">
        <div class="ui horizontal divider topsellersTitle">
            Marcas
        </div>
        <div class="ui grid">
            <div class="ui column cards centered car-marcas slideshow">
                @foreach (var brand in Model)
                {
                    <div class="ui card produto">
                        <a href="@brand.UrlFriendly" title="@brand.Name">
                            <img class="ui image centered brands" src="@brand.Logo" alt="@brand.Name" title="@brand.Name" onerror="imgError(this)">
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="ui divider hidden"></div>
    </div>
}