h1.nomeProduto {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
    color: $black;
    
    @media screen and (max-width: $mobile-bp) {
        text-align: left;
    }
}

h6.codProduto {
    color: #888888;
    margin: 0px 0px 25px 0px !important;
    
    @media screen and (max-width: $mobile-bp) {
        text-align: left;
    }
}

.product-grid{
    padding-top: 0 !important;
}

.toggleZoom {
    display: none !important;
}

[data-tab="informacoes"]{
    p{
        img{
            width: 500px;
            height: auto;
            
            @media screen and (max-width: $mobile-bp) {
                width: 100%;
            }
        }
    }
}

.infoProduto {


    #dica_compra_partial {
        margin-top: 15px;

        @media screen and (max-width: $mobile-bp) {
            margin: 0 auto;
            display: table;
        }
    }


    .marcaProduto {
        color: #666;
        font-size: 14px;
    }

    .avaliacoes {
        color: #666;
        display: table;
        float: right;
        margin: 0px 0px 25px 0px;

        &:hover {
            cursor: pointer;
        }
        
        @media screen and (max-width: $mobile-bp) {
            text-align: left;
            float: left;
        }
    }
    
    .precoFixo{
        margin-bottom: 40px;
        .variacao-preco{
            p{
                color: #ab165c;
                margin-bottom: 5px;
                
                .preco{
                    color: black;
                    font-size: 25px;
                }
            }
            
            .infoPreco{
                font-size: 16px;
                font-weight: 600;
                color: #747474;
            }
            
            @media screen and (max-width: $mobile-bp) {
                text-align: left;
            }
        }
    }

    .blocoInfo {
        @media screen and (max-width: $mobile-bp) {
            padding: 0;
        }

        .linkRating {
            color: #666666;
            font-size: 12px;
        }

        .blocoValores {
            border-bottom: 5px solid #ddd;
            margin-bottom: 15px !important;

            > .column {
                @media screen and (max-width: $mobile-bp) {
                    text-align: center;
                }
            }

            .row {
                padding: 0.25rem 0 !important;
                
                @media screen and (min-width: $mobile-bp) {
                    padding: 0 !important;
                }
            }

            .blocoQtd {
                p{
                    margin-bottom: 5px;
                    color: black;
                    font-weight: 700;
                }
                
                @media screen and (max-width: $mobile-bp) {
                    text-align: left;
                }
                
                input{
                    width: 42px;
                }
            }

            .blocoPreco {

                @media screen and (max-width: $mobile-bp) {
                    text-align: center !important;
                }

                p{
                    text-align: left;
                    margin-bottom: 5px;
                    color: black;
                    font-weight: 700;
                }

                .precoAntigo {
                    clear: both;
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .preco {
                    clear: both;
                    float: left;
                    color: #3bbbc0;
                    font-size: 20px;
                    font-weight: 600;
                    text-align: left;
                    line-height: 25px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                    
                    @media screen and (max-width: $mobile-bp) {
                        font-size: 25px;
                    }
                }

                .disponibilidade {
                    margin: 5px 0 10px 0;
                    color: #666666;
                    font-size: 12px;

                    @media screen and (max-width: $mobile-bp) {
                        text-align: center !important;
                    }
                }

                .infoPreco {
                    clear: both;
                    color: #999;
                    font-size: 14px;
                    line-height: 18px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }

                    .descontoBoleto {
                        color: $ascent-1-color;
                        font-weight: 700;
                    }
                    
                    #max-p, #max-value{
                        color: #3bbbc0;
                    }
                }
            }

            .btnComprar {
                @media screen and (max-width: $mobile-bp) {
                    text-align: left !important;
                }

                margin: 40px 0 10px !important;

                .btn-comprar-oneclick {
                    margin-top: 20px;
                    font-size: .92857143rem;
                    font-weight: normal;
                }
                
                span{
                    font-size: 12px;
                    color: #666;
                    margin-bottom: 7px;
                }
            }
        }
    }
}

.product-button {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
        display: block !important;
        margin-bottom: 10px !important;
    }
}

.product-tags {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 70%;

    .tag {
        margin-left: 1.5em !important;
    }
}

.border.bottom.grey:not(.inverted) {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;
}

.ui.segment.grey.formas-pagamento {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;

    .accordion {
        .title {
            color: #666666;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ui.list {
            padding-left: 2.2em;
        }
    }
}


.ui.grid.segment {
    padding: 10px 0px !important;
}

.ui.segment {

    &.yellow,
    &.grey {

        .ui.form .fields {
            margin: 0px !important;
        }
    }
}

.ui.ribbon {
    z-index: 5;
}

.produtos.compre.junto {
    > .item {

        .content {
        }

        .extra {
            width: auto !important;
        }
    }
}

.variacao {

    &.cor {
        height: 35px;
        width: 35px;
    }

    &.selecionado {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .35) !important;
    }
}

.product {

    &.information {

        .marcaProduto {
            margin: 0px !important;
        }

        &.row {
            padding-bottom: .1rem !important;
        }

        h1 {
            margin-top: 10px;
        }

        .column {
            padding-bottom: .3rem !important;
            padding-top: 0.3rem !important;
        }
    }
}

.produto {

    &.detalhes {

        &.row {
            padding-top: 0px !important;
        }
    }
    
    .easyzoom{
        width: 100%;
        
        a{
            width: 100%;
            
            #imagem-padrao{
                width: 500px;
                height: 250px;
                display: table !important;
                margin: 0 auto;
            }
        }
    }
    
    
    .thumbnails{
        display: flex;
        justify-content: center;
        
        a{
            padding: 0 10px;
            
            &:first-child{
                padding-left: 0;
            }
        }
    }
}


#pagamento-calculado {
    margin-top: 10px;
    margin-bottom: 20px;

    .formas-pagamento {
        border-bottom: 5px solid #ddd;
        box-shadow: none !important;
        border-radius: 0 !important;
        border-top: 1px solid #d4d4d5 !important;
    }
}

.fb-share-button {
    display: block;
    float: left;
    margin-right: 3px;
}


.menu.tabular {
    .item {
        color: #999 !important;
        text-transform: uppercase;

        &.active {
            color: $black !important;
        }
    }
}

.product-b2b {
    .preco {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .precoAntigo i {
        text-decoration: line-through;
    }

    .ui.form .field > .button {
        margin-bottom: 0px;
    }
}

#buy-together {

    .row {
        &.horizontal {
            &.divided {
                background: #fff;
            }
        }
    }

    a {
        font-weight: bold;
        font-size: 14px;
        color: #666666;
    }

    .ui.attached.segment {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .ui.table {
        border: 1px solid #eee;
        color: #666666;
        border-radius: 0 !important;

        strong {
            color: #000;
        }

        thead th {
            background-color: #999999;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            border-radius: 0 !important;
        }
    }

    #price-buy-together,
    h4 {
        color: $black;
        font-size: 20px;
        line-height: 25px;
    }

    #btn_comprejunto {
        i {
            opacity: 1 !important;
        }
    }
}



#AlsoProducts {
    margin-top: 60px;

    > .ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

#RelatedProducts {
    > .ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}




.ui.items:not(.unstackable) > .item > .image > a > img {
    @media screen and (max-width: $mobile-bp) {
        max-width: 100% !important;
        width: auto !important;
        max-height: 250px !important;
    }
}

.ui.list > div > .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
}

.kit-product {

    .blocoKit {

        h5 {
            font-size: 16px;
            color: #262626;
        }

        .infoKit {
            text-align: right;

            .nameProduct {
                font-size: 16px;
                color: #262626;
                font-weight: 700;
            }

            .valores {
                color: #767676;
                margin: 5px 0 10px;

                .valorDe {
                    font-size: 11px;
                    text-decoration: line-through;
                }

                .valorPor {
                    color: #2980b9;
                    font-size: 20px;
                }

                .kit {
                    font-size: 11px;
                }
            }

            .variacao {
                color: #767676;
                font-size: 14px;
            }

            .quantidade {
                color: #767676;
                font-size: 14px;
            }
        }
    }
}

.infoPrecoKit {
    color: #999;
    font-size: 14px;
}

.wishlistDetails {
    margin-top: 20px;

    i {
        font-size: 22px;
        color: #666 !important;
    }

    span {
        color: #666 !important;
    }
}
