.fullBannerWithText {
	.linkFullBanner {
		position:relative;
	}
	.textFullBanner {
		width: 45%;
		height: 70px;
		position: relative;
		margin-top: -100px;
		margin-left: 120px;
	}
}

.ui.images {
  img.side-halfbanner-image {
    margin-left: 0px;
    margin-right: 0px;
  }
}