.bg {
	&-red {
		background-color: $red;
		color: $white;
	}
	
	&-orange {
		background-color: $orange;
		color: $white;
	}
	
	&-yellow {
		background-color: $yellow;
		color: $white;
	}
	
	&-olive {
		background-color: $olive;
		color: $white;
	}
	
	&-green {
		background-color: $green;
		color: $white;
	}
	
	&-teal {
		background-color: $teal;
		color: $white;
	}
	
	&-blue {
		background-color: $blue;
		color: $white;
	}
	
	&-violet {
		background-color: $violet;
		color: $white;
	}
	
	&-purple {
		background-color: $purple;
		color: $white;
	}
	
	&-pink {
		background-color: $pink;
		color: $white;
	}
	
	&-brown {
		background-color: $brown;
		color: $white;
	}
	
	&-grey {
		background-color: $grey;
		color: $white;
	}
	
	&-black {
		background-color: $black;
		color: $white;
	}
	
	&-white {
		background-color: $white;
		color: $black;
	}
	
	&-checkout-success {
		background-color: $bg-checkout-success;
		color: $text-checkout-success;
	}
	
	&-checkout-success-dark {
		background-color: $bg-checkout-success-dark;
		color: $text-checkout-success;
	}
	
	&-checkout-error {
		background-color: $bg-checkout-error;
		color: $text-checkout-error;
	}
}