.hideme {
	display: none !important;
}

.display {
	&.block.mra.mla {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	&.grid {
		display: grid !important;
	}
	
	&.block {
		display: block !important;
	}
	
	&.flex {
    	display: flex !important;
	}
	
	&.align-stretch {
      align-items: stretch;
    }
}

.inline-flex {
	display: inline-flex !important;
}

.no-pointer {
	cursor: default !important;
}

.inline-block{
	display:inline-block !important;
}
.both {
	clear: both;
}