﻿<div class="ui container fluid infoBar grid computer only">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <img src="/assets/image/layout/b1-frete.png"/>
                    </div>
                    <div class="text_place">
                        <h5>FRETE NACIONAL</h5>
                        <p>receba seus pedidos em todo Brasil</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <img src="/assets/image/layout/b2-parcele.png"/>
                    </div>
                    <div class="text_place">
                        <h5>PARCELE SEUS PEDIDOS</h5>
                        <p>até 3x sem juros</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <img src="/assets/image/layout/b3-desconto.png"/>
                    </div>
                    <div class="text_place">
                        <h5>DESCONTO NO BOLETO</h5>
                        <p>ganhe 5% de desconto</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <img src="/assets/image/layout/b4-seguro.png"/>
                    </div>
                    <div class="text_place">
                        <h5>COMPRA SEGURA</h5>
                        <p>proteção de suas informações</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>