@model List<DomainCompany.Entities.CustomPage>
    
@{
    int counter = 1;
    int commonQuestionColumn = 2;
    bool commonQuestionsLink = false;
}

@foreach (var itemTitle in Model)
{
    <div class="column">
        <h4 class="ui inverted header">@itemTitle.Name <i class="ui icon chevron right mobile only"></i></h4>
        <div class="ui inverted link list">
            @foreach (var itemPage in itemTitle.CustomPagesContent)
            {
                <a href="/institucional/@itemTitle.IdCustomPage/@itemPage.IdCustomPageContent" class="item" title="@itemPage.Name"><h5>@itemPage.Name</h5></a>
            }
            @if (commonQuestionsLink == false && commonQuestionColumn == counter)
            {
                <a href="@Url.Action("CommonQuestions", "Company")" class="item" title="Dúvidas Frequentes"><h5>Dúvidas Frequentes</h5></a>
                commonQuestionsLink = true;
            }
        </div>
    </div>
    counter++;
}