﻿
<div class="ui container fluid vertical footer newsletters center aligned">
	<div class="ui container">
	
		<div class="description">
			<p>Fique por dentro das novidades e promoções:</p>
		</div>
		<div class="news-form">
			<div class="form-container">
				<i class="mail icon"></i>
				<input type="text" placeholder="seu@email.com.br" id="email_news">
				<button class="ui button" id="btn_news">
					Cadastrar
				</button>
			</div>
		</div>
				
	</div>
</div>

<div class="ui container fluid inverted vertical footer dadosFooter">
    <div class="ui container">
        <div class="ui four column stackable inverted equal height grid">
            <div class="sixteen wide mobile sixteen wide tablet seven wide computer column left aligned">
                <div class="ui grid stackable">
                    <div class="row two column no padding">
                        @Html.Action("CustomPages", "Home")
                    </div>
                </div>
            </div>

            <div class="eight wide mobile eight wide tablet five wide computer column left aligned">

                @Html.Action("GetList", "EventList")
                <h4 class="ui header footerTitle">Central de Relacionamento</h4>
                <div class="content">
					<p class="fone icon">@LojaCorp.Control.Company._Company.Phone1</p>
				</div>
				
				<div class="content">
					<p class="fone">@LojaCorp.Control.Company._Company.Phone2</p>
				</div>
					
				<div class="content">
					<a href="mailto:@LojaCorp.Control.Company._Company.EmailContact" class="email icon">
						@LojaCorp.Control.Company._Company.EmailContact
					</a>
				</div>
            </div>


            <div class="eight wide mobile eight wide tablet four wide computer column left aligned">
				<h4 class="left aligned ui header footerTitle">Pagamentos</h4>
				<div class="content">
					@Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
				</div>
				                
            </div>
        </div>

    </div>
</div>

<div class="ui container fluid vertical footer dadosFooter bgBlock">
	<div class="ui container">
		<div class="sociallinks">
			<div class="titulo">Siga-nos</div>
			<div class="content">
				@Html.Partial("~/Views/Shared/Common/_SocialLinks.cshtml")
			</div>
		</div>
		<div class="lojafisica">
			<div class="titulo">Loja Física</div>
			<div class="content">
				@LojaCorp.Control.Company._Company.Address - @LojaCorp.Control.Company._Company.Neighbourhood, São Paulo - SP
			</div>
		</div>
		<div class="horario">
			<div class="titulo">Horário de atendimento</div>
			<div class="content">Segunda a Sexta-feira das 8h às 17h - Sábado das 8h30 às 13h</div>
		</div>		
	</div>
</div>

<div class="ui container fluid vertical developed">
	<div class="ui container">
		
		<div class="company">
			<div class="logorodape">
				<img src="/assets/image/layout/logo-rodape.png"/>
			</div>
			<div class="dados">
				@LojaCorp.Control.Company._Company.CompanyName<br>
				CNPJ: @LojaCorp.Control.Company._Company.CNPJ
			</div>
		</div>
		
		<div class="logosDeveloped">
					
			<div class="logoJet">
				<a href="http://www.jetecommerce.com.br/" target="_blank">
					<img src="/assets/image/layout/logo-jet.png">
				</a>
			</div>
	
			<div class="logoPeras">
				<a href="http://sandersdigital.com.br/" target="_blank">
					<img style="width:135px; height:55px" src="/assets/image/logo_sanders_01.png">
				</a>
			</div>		
						
		</div>
			
	</div>
</div>


<div class="modal-block">

</div>

