﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Betel Tecidos</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="RrgdVHHoaIqiuP66THCL-Dl77RFhIAUYLKqPitC1EbU" />
<link rel="apple-touch-icon" sizes="57x57" href="~/assets/image/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/assets/image/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/assets/image/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/assets/image/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/assets/image/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/assets/image/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/assets/image/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/assets/image/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/assets/image/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="~/assets/image/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/assets/image/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/assets/image/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/assets/image/favicon/favicon-16x16.png">
<link rel="shortcut icon" type="image/png" href="/assets/image/layout/favicon.ico"/>
<link rel="manifest" href="~/assets/image/favicon/manifest.json">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="~/assets/image/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

@{
string urlCanonical = Request.Url.AbsolutePath.ToLower();
string canonical = !Request.Url.AbsoluteUri.Contains("www") ? "https://www." + Request.Url.Host + Request.Path : "https://" + Request.Url.Host + Request.Path;

string[] words = urlCanonical.Split('/');

if (words[1] == "" || words[1].ToLower() == "home")
{
<link rel="canonical" href="https://www.@Request.Url.Host"/>
}
else
{
<link rel="canonical" href="@canonical"/>
}
} 


@Html.Partial("Common/_SEO")

<script type="text/javascript">
    window.onload = function () {
        var svr = document.createElement("div");
        svr.setAttribute("type", "hidden");
        svr.setAttribute("id", "svr");
        svr.setAttribute("value", "@Context.Server.MachineName");

        document.body.appendChild(svr);
    }
</script>
