@{
	string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
	string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<div class="ui container fluid _header">
	<div class="ui container">
		<div class="ui middle aligned three column centered grid">
			<div class="row">
				<div class="ui center aligned six wide tablet five wide computer column searchcolumn">
					<div class="ui category @_classSearch">
						<div class="ui icon input fluid">
							<input class="prompt" type="text">
							<i class="search icon"></i><span>buscar</span>
						</div>
						<div class="results"></div>
					</div>
				</div>
				<div class="ui eight wide mobile five wide tablet six wide computer column logoColumn center aligned">
					<a class="logo" href="/Home" title="Página Inicial">
						<img class="ui middle aligned image logo" src="/assets/image/layout/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
					</a>
				</div>
				<div class="ui eight wide mobile five wide tablet five wide computer column right aligned">
					<div id="contactUs" class="contactUs">
						<a href="/fale-conosco" taget="_self">Atendimento</a>
					</div>
					<div id="b2b" class="b2b">
						<a href="/customer/loginB2B" taget="_self">Atacado</a>
					</div>
					<div id="myAccount" class="myAccount">
						<a href="/customer/login" taget="_self">Entrar</a>
					</div>
					<div id="cartButton" class="ui labeled button cartbutton mini-cart no margin bottom" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
						<div class="ui basic primary button ">
							<i class="cart icon"></i>
							<span>@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista")</span>
						</div>
						<a class="ui left pointing primary label" id="total_itens_card">
							@{
								if (Session["EventList"] == null)
								{
									@Html.Action("TotalItensCart", "Checkout")
								}else
								{
									@Html.Action("TotalItensList", "EventList")
								}
							}
							
						</a>
					</div>
					<div class="ui searchMobile mobile only">
						<div class="ui button icon centered">
							<i class="search icon"></i>
						</div>
						<div class="ui blocoBusca @_classSearch">
							<div class="ui icon input fluid">
								<input class="prompt" type="text" placeholder="Buscar...">
								<i class="search icon"></i>
							</div>
							<div class="results"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

