﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<socialbar>
	@if (redesSociais.Find(f => f.Identifier == "facebook") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
			<i class="fa-facebook icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier == "instagram") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
			<i class="instagram icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier == "twitter") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
			<i class="twitter icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier == "youtube") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
			<i class="youtube icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier == "pinterest") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "pinterest").Content" target="_blank">
			<i class="pinterest icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier == "vimeo") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "vimeo").Content" target="_blank">
			<i class="vimeo icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier == "google plus") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
			<i class="google plus icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier.ToUpper() == "WHATSAPP") != null)
	{
		<a class="text color" href="https://api.whatsapp.com/send?text=@HttpContext.Current.Request.Url.ToString()" target="_blank" title="WHATSAPP">
			<i class="whatsapp icon"></i>
		</a>
	}
	@if (redesSociais.Find(f => f.Identifier.ToUpper() == "BLOGER") != null)
	{
		<a class="text color" href="@redesSociais.Find(f => f.Identifier == "bloger").Content" target="_blank" title="Blogger">
			<i class="wpforms icon"></i>
		</a>
	}
</socialbar>