﻿@model List<DomainSocialNetwork.Entities.SocialNetwork>
<div class="left floated column margin none sixteen wide mobile four wide tablet six wide computer mobile-hide tablet-hide">
    <socialbar>
        @if (Model != null)
        {
            foreach (var social in Model)
            {
                if (social.Identifier.ToUpper() == "WHATSAPP")
                {
                    <a href="@string.Format("{0}{1}","https://api.whatsapp.com/send?phone=55", social.Content.Replace("(","").Replace(")","").Replace("-","").Replace(" ",""))" target="_blank" title="@social.Identifier">
                        <i class="@social.Identifier icon"></i>
                    </a>
                }
                else
                {
                    <a href="@social.Content" target="_blank" title="@social.Identifier ">
                        <i class="@social.Identifier icon"></i>
                    </a>
                }
            }
        }
    </socialbar>
</div>
