﻿@if ((Session["UserAuthenticated"] != null) && (Convert.ToBoolean(Session["Guest"]) == false)){
<div class="ui container fluid topbar" id="top_bar">
	<div class="ui container">
		<div class="ui grid middle aligned inverted">
			<div class="one column row">
				<div class="right floated right aligned sixteen wide mobile sixteen wide tablet sixteen wide computer column">
					@{
						var userAuthenticated = (DomainCustomer.Entities.Customer)Session["UserAuthenticated"];
			
						Char delimiter = ' ';
						String[] nickName = userAuthenticated.Name.Split(delimiter);
			
						<div class="ui horizontal list relaxed divided">
							<div class="item username">
								<a>
								<i class="user icon regular"></i>
								Olá, @nickName[0]
								</a>
							</div>
							<div class="item logout">
								<a href="/customer/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}

<div class="ui container fluid topbar" id="top_bar">
    <div class="ui container">
        <div class="ui grid middle aligned inverted">
            <div class="two column row">
			
                @Html.Action("SocialBar", "SocialNetwork")
                <div class="right floated right aligned wide column sixteen wide mobile sixteen wide tablet ten wide computer margin none">
                    <div class="ui horizontal list relaxed divided">
						<div class="item telefone">
							<a><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp: @LojaCorp.Control.Company._Company.Phone1</a>
						</div>
                       @Html.Action("B2BIsActived", "Company", null)                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>